{% extends "base.html.twig" %}

{% block title %}Page Products
{% endblock %}

{% block content %}

	<h2>Liste des produits</h2>
	<a href="/products/addForm">
		<button type="button" class="btn btn-success btn-primary btn-lg">Ajouter un produit</button>
	</a>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nom</th>
				<th>Prix</th>
				<th>Quantité</th>
				<th>Modifier</th>
				<th>Supprimer</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td>{{ product.id }}</td>
					<td>{{ product.name }}</td>
					<td>{{ product.price }}</td>
					<td>{{ product.quantity }}</td>
					<td>
						<a href="/products/updateForm?id={{ product.id }}">
							<button type="button" class="btn btn-primary">Modifier</button>
						</a>

					</td>
					<td>
						<a href="/products/deleteForm?id={{ product.id }}">
							<button type="button" class="btn btn-danger">Supprimer</button>
						</a>
					</td>

				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
