{% extends "base.html.twig" %}

{% block title %}Page Users
{% endblock %}

{% block content %}

	<h2>Liste des utilisateurs</h2>
	<a href="/users/addForm">
		<button type="button" class="btn btn-success btn-primary btn-lg">Ajouter un utilisateur</button>
	</a>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Prenom</th>
				<th>Nom</th>
				<th>Email</th>
				<th>Password</th>
				<th>Budget</th>
				<th>Admin</th>
				<th>Modifier</th>
				<th>Supprimer</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.firstName }}</td>
					<td>{{ user.lastName }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.password }}</td>
					<td>{{ user.budget }}</td>
					<td>{{ user.isAdmin }}</td>
					<td>
						<a href="/users/updateForm?id={{ user.id }}">
							<button type="button" class="btn btn-primary">Modifier</button>
						</a>

					</td>
					<td>
						<a href="/users/deleteForm?id={{ user.id }}">
							<button type="button" class="btn btn-danger">Supprimer</button>
						</a>
					</td>

				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
